* {
  box-sizing: border-box;
  background-color: #464a62;
}

body {
  margin: auto;
}

#root {
  width: 100vw;
  margin: 0;
  font-family: "Karla", sans-serif;
}

.navbar {
  background-color: #313651;
  padding: auto;
  display: flex;
  box-shadow: 0px 4px 8px rgb(69, 49, 49); /*not working*/
}

.nav--logo {
  width: 75px;
  height: 95px;
  margin-block: 5px;
  margin-inline: 20px;
  justify-content: center;
}
 
h1 {
  background-color: #313651;
  color: #d6d7dc;
  margin-top: 30px;
  font-size: 36px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-left: 30px;
  padding-top: 50px;
}

/* Styles for the card container */
.card {
  background-color: #595c72;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgb(49, 52, 69, 0.5);
  margin: 10px;
  padding: 20px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  align-items: center;
  width: 200px;
}

/* Styles for the card image */
.card img {
  height: auto;
  border-radius: 5px;
}
.card--stats{
  background-color: #595c72;
}
/* Styles for card stats (title, artist, year) */
.card--stats h2 {
  background-color: #595c72;
  color: #b5b7c0;
  font-size: 18px;
  margin: 10px 0;
}

.card--stats p {
  background-color: #595c72;
  font-size: 14px;
  color: #9092a1;
  margin: 5px 0;
  text-align: left;
}


/* Style the file input container */
.upload-container,
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Style the file input label */
.upload-label {
  background-color: #313651;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.upload-label:hover {
  background-color: #464a62;
}

/* Style the actual file input element (hidden) */
.upload-input {
  display: none;
}

/* Style a custom button for uploading */
.upload-button,
.add-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.upload-button:hover,
.add-button:hover {
  background-color: #0056b3;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgb(49, 52, 69, 0.2);
}

/* Container for content */
.content--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 20px;
}

/* Limit the width for better readability */
.upload-container,
.input-container {
  flex: 1;
  max-width: 300px;
  width: 100%;
  margin: 0 10px;
}

/* Margin between the sections */
.upload-container {
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgb(49, 52, 69, 0.3);
  border: 3px dotted #222430;
}