* {
  box-sizing: border-box;
  background-color: #464a62;
}

body {
  margin: auto;
}

#root {
  width: 100vw;
  margin: 0;
  font-family: "Karla", sans-serif;
}

.navbar {
  background-color: #313651;
  padding: auto;
  display: flex;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav--logo {
  width: 75px;
  height: 95px;
  margin-block: 5px;
  margin-inline: 20px;
  justify-content: center;
}
 
h1 {
  background-color: #313651;
  color: #d6d7dc;
  margin-top: 30px;
  font-size: 36px;
}
